In [1]:
import pandas as pd
import zipfile
import io, os

/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
notebook_dir = os.getcwd()

In [3]:
os.chdir(notebook_dir)
os.chdir('..')

In [4]:
#IMPORT DATA INTO DATAFRAMES
df = pd.read_csv("data/Los_Angeles_Sold_CLEANED.csv")

zip_file_path = 'data/ACSDT5Y2022.B25077_2024-08-30T020148.zip'

# Open the zip file
with zipfile.ZipFile(zip_file_path, 'r') as z:
    # List all the contents in the zip file
    #print(z.namelist())
    
    # Assuming there's only one CSV file in the ZIP, extract its name
    #csv_filename = z.namelist()[0]
    
    # Extract and read the CSV file into a DataFrame
    with z.open('ACSDT5Y2022.B25077-Data.csv') as f:
        housing_df = pd.read_csv(f)

# Display the DataFrame
#print(df)

In [5]:
housing_df.head()

,GEO_ID,NAME,B25077_001E,B25077_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Median value (dollars),Margin of Error!!Median value (dollars),NaN
1,0100000US,United States,281900,221,NaN
2,860Z200US89010,ZCTA5 89010,113800,17741,NaN
3,860Z200US89019,ZCTA5 89019,249400,54781,NaN
4,860Z200US89060,ZCTA5 89060,208800,19486,NaN

In [6]:
#RENAME COLUMNS
housing_df.rename(columns={'NAME': 'zip'}, inplace=True)
housing_df.rename(columns={'B25077_001E': 'med_val_est_2022'}, inplace=True)

In [7]:
#DROP UNUSED COLUMNS AND FIRST TWO ROWS
housing_df = housing_df.iloc[2:]
housing_df = housing_df.drop(columns=housing_df.columns[-2:])
housing_df = housing_df.drop(columns=housing_df.columns[0])

In [8]:
#EXTRACT ZIP CODES
def zip_extraction(x):
    return x.split(' ')[1]


housing_df['zip'] = housing_df['zip'].apply(zip_extraction)

In [9]:
#CALCULATE MED HOME PRICE INFLATION
#2023 increase:7.5%,2024 increase:1%, source: https://www.redfin.com/county/321/CA/Los-Angeles-County/housing-market

housing_df['med_val_est_2022'] = pd.to_numeric(housing_df['med_val_est_2022'], errors='coerce').fillna(0).astype(int)
housing_df = housing_df.dropna(subset=['med_val_est_2022'])
housing_df = housing_df[housing_df['med_val_est_2022'] != 0]


housing_df['med_val_est_2024'] = (housing_df['med_val_est_2022']*(1.075*1.01)).round(0)

In [10]:
housing_df

        zip  med_val_est_2022  med_val_est_2024
2     89010            113800          123558.0
3     89019            249400          270786.0
4     89060            208800          226705.0
5     89061            286400          310959.0
6     89439            681300          739721.0
...     ...               ...               ...
1804  96146           1559700         1693444.0
1805  96148            661500          718224.0
1806  96150            595300          646347.0
1808  96161            822800          893355.0
1809  97635            147800          160474.0

[1557 rows x 3 columns]