# CLEAN DATA: FILTER TO SINGLE FAMILY HOUSING TYPES, REMOVE REPEAT PROPERTY POSTINGS, REMOVE LISTING WITH FALSE DATA

In [1]:
import pandas as pd
import os
import sys
import statistics
import numpy as np
import geopandas as gpd
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder

/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (
/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_35653/778880716.py:6: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
notebook_dir = os.getcwd()
os.chdir(notebook_dir)
os.chdir('..')
df1 = pd.read_csv("data/Austin_For_Sale.csv")
df2 = pd.read_csv("data/Austin_Sold.csv")

# CLEAN DATA: FILTER TO SINGLE FAMILY HOUSING TYPES

In [4]:
df1 = df1[df1['style'] == 'SINGLE_FAMILY']
df2 = df2[df2['style'] == 'SINGLE_FAMILY']

# CLEAN DATA: REMOVE REPEAT PROPERTY POSTINGS

In [5]:
df1 = df1.drop_duplicates(subset=['full_street_line', 'unit'], keep='first')
df2 = df2.drop_duplicates(subset=['full_street_line', 'unit'], keep='first')

# CLEAN DATA: REMOVE LISTINGS WITH UNREALISTIC DATA

In [6]:
df1 = df1[df1['sqft'] != 0]
df2 = df2[df2['sqft'] != 0]

# CLEAN DATA: DROP COLUMNS WITH HIGH NULL VALUES

In [7]:
round((df1.isnull().sum()/df1.shape[0])*100,2)

property_url          0.00
mls                   0.00
mls_id                0.00
status                0.00
text                  0.07
style                 0.00
full_street_line      0.07
street                0.02
unit                 91.48
city                  0.00
state                 0.00
zip_code              0.00
beds                  0.00
full_baths            0.23
half_baths           53.26
sqft                  0.07
year_built            3.31
days_on_mls           0.00
list_price            0.00
list_date             0.00
sold_price          100.00
last_sold_date       98.51
assessed_value       11.76
estimated_value      11.58
lot_sqft              5.48
price_per_sqft        0.07
latitude              0.41
longitude             0.41
neighborhoods        11.11
county                0.00
fips_code             0.43
stories               1.53
hoa_fee               8.90
parking_garage       16.63
agent                 0.54
agent_email          12.19
agent_phones          8.47
broker                4.80
broker_phone          7.46
broker_website        5.66
nearby_schools        0.43
primary_photo         0.09
alt_photos            0.09
dtype: float64

In [8]:
df1 = df1.drop(columns=['unit','sold_price','last_sold_date'])

In [9]:
round((df2.isnull().sum()/df2.shape[0])*100,2)

property_url          0.00
mls                  88.55
mls_id               88.55
status                0.00
text                 88.80
style                 0.00
full_street_line      0.00
street                0.02
unit                 99.12
city                  0.22
state                 0.00
zip_code              0.00
beds                 38.54
full_baths            6.94
half_baths           93.34
sqft                  1.13
year_built            1.05
days_on_mls          92.77
list_price           88.55
list_date            88.55
sold_price          100.00
last_sold_date        0.00
assessed_value        0.28
estimated_value       2.59
lot_sqft              3.84
price_per_sqft      100.00
latitude              0.03
longitude             0.03
neighborhoods        23.64
county                0.00
fips_code             0.03
stories               7.21
hoa_fee              89.75
parking_garage       89.44
agent                90.35
agent_email          91.03
agent_phones         90.80
broker              100.00
broker_phone        100.00
broker_website      100.00
nearby_schools        0.03
primary_photo        84.52
alt_photos           84.52
dtype: float64

In [10]:
df2 = df2.dropna(subset=['sqft','lot_sqft','year_built','beds','list_price','list_date','latitude','longitude'])

In [11]:
round((df2.isnull().sum()/df2.shape[0])*100,2)

property_url          0.00
mls                   0.00
mls_id                0.00
status                0.00
text                  2.20
style                 0.00
full_street_line      0.00
street                0.15
unit                 96.93
city                  0.00
state                 0.00
zip_code              0.00
beds                  0.00
full_baths            0.00
half_baths           61.64
sqft                  0.00
year_built            0.00
days_on_mls          36.75
list_price            0.00
list_date             0.00
sold_price          100.00
last_sold_date        0.00
assessed_value        1.46
estimated_value       1.90
lot_sqft              0.00
price_per_sqft      100.00
latitude              0.00
longitude             0.00
neighborhoods        11.71
county                0.00
fips_code             0.00
stories               0.44
hoa_fee              10.54
parking_garage       16.40
agent                15.67
agent_email          21.67
agent_phones         19.62
broker              100.00
broker_phone        100.00
broker_website      100.00
nearby_schools        0.00
primary_photo         2.34
alt_photos            2.34
dtype: float64

# CLEAN DATA: DROP COLUMNS WITH UNUSED DATA

In [12]:
df1 = df1.drop(columns=['broker_website','broker_phone','broker', 'agent_phones','agent_email','agent','county']) 
df2 = df2.drop(columns=['broker_website','broker_phone','broker', 'agent_phones','agent_email','agent','county','sold_price'])

# CLEAN DATA: FILL 'NAN' VALUES

### assumed 'nan' values:
    ### number of stories - 1
    ### hoa fees - 0
    ### number of parking garages - 0
    ### number of half baths - 0

In [13]:
df2['stories'] = df2['stories'].fillna(1)
df2['hoa_fee'] = df2['hoa_fee'].fillna(0)
df2['parking_garage'] = df2['parking_garage'].fillna(0)
df2['half_baths'] = df2['half_baths'].fillna(0)

# CLEAN DATA: ADD NEIGHBORHOOD/MUNICIPAL LOCATION DATA USING SPATIAL JOIN

In [14]:
df2 = gpd.GeoDataFrame(
    geometry=gpd.points_from_xy(df2.longitude, df2.latitude, crs="EPSG:4326"), data=df2
)
city_bounds = gpd.read_file('data/Austin_City_Boundaries')
neighborhoods = gpd.read_file('data/Neighborhoods_20240712')

In [15]:
city_bounds = city_bounds[city_bounds.CITY_NM!='Austin']

In [16]:
df2 = df2.to_crs(neighborhoods.crs)
city_bounds = city_bounds.to_crs(neighborhoods.crs)

In [17]:
joined_gdf = gpd.sjoin(df2, neighborhoods, how='inner', op='within')

/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3309: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [18]:
non_intersecting_points = df2[~df2.index.isin(joined_gdf.index)]

In [19]:
joined_gdf2 = gpd.sjoin(non_intersecting_points, city_bounds, how='left', op='within')

/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3309: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [20]:
joined_gdf2['CITY_NM'] = joined_gdf2['CITY_NM'].replace(np.nan, 'Rural')

In [21]:
joined_gdf2 = joined_gdf2.drop(columns=['TXDOT_CITY', 'CITY_FIPS', 'CNTY_SEAT_', 'COLOR_CD', 'POP1990',
       'POP2000', 'POP2010', 'POP2020', 'POP_CD', 'GID', 'SHAPE_Leng',
       'FID_AllCou', 'CMPTRL_CNT', 'DPS_CNTY_N', 'FIPS_ST_CN', 'TXDOT_CNTY',
       'TXDOT_DIST', 'CNTY_NM', 'GID_1', 'GlobalID', 'CreationDa', 'Creator',
       'EditDate', 'Editor','index_right', 'FID_Cities', 'OBJECTID_1'])

In [22]:
joined_gdf = joined_gdf.rename(columns={"neighname": "Location"})

In [23]:
joined_gdf2 = joined_gdf2.rename(columns={"CITY_NM": "Location"})

In [24]:
df2 = gpd.GeoDataFrame(pd.concat([joined_gdf, joined_gdf2], ignore_index=True))

In [25]:
df2 = df2.drop(columns=['mls','mls_id','fips_code','index_right','fid','target_fid','sqmiles','shape_leng','shape_area','shape_le_2','price_per_sqft','unit'])

# CALCULATE DAYS ON MARKET

In [26]:
def days_between_dates(date1, date2):
    date_format = "%Y-%m-%d"
    d1 = datetime.strptime(date1, date_format)
    d2 = datetime.strptime(date2, date_format)
    delta = d2 - d1
    return abs(delta.days)

In [27]:
df2['days_on_market'] = df2.apply(lambda row: days_between_dates(row['list_date'], row['last_sold_date']), axis=1)

# CALCULATE AMENITIES TO PRICE RATIO (INSTEAD OF PRICE TO AMENITIES TO AVOID /0)

In [28]:
df2["bedcostratio"] = df2.beds/df2.list_price

In [29]:
df2["bathcostratio"] = (df2.full_baths+df2.half_baths)/df2.list_price

In [30]:
df2["bathbedcastratio"] = (df2.full_baths+df2.half_baths+df2.beds)/df2.list_price

In [31]:
df2["amenitiescastratio"] = (df2.full_baths+df2.half_baths+df2.beds+df2.parking_garage)/df2.list_price

# CLASSIFY YES/NO HOA FEE

In [32]:
df2["hashoa"] = df2["hoa_fee"].apply(lambda x: 1 if x > 0 else x)

# CLASSIFY DAYS ON THE MARKET AS QUARTILES

In [33]:
# Calculate quartiles
Q1 = df2['days_on_market'].quantile(0.25)
Q2 = df2['days_on_market'].quantile(0.50)  # This is the median
Q3 = df2['days_on_market'].quantile(0.75)

print(f"Q1: {Q1}")
print(f"Q2: {Q2}")
print(f"Q3: {Q3}")

Q1: 45.0
Q2: 77.0
Q3: 131.0

In [34]:
# Define function to classify quartiles
def classify_quartile(value):
    if value <= Q1:
        return 'Q1'
    elif value <= Q2:
        return 'Q2'
    elif value <= Q3:
        return 'Q3'
    else:
        return 'Q4'

# Apply the function to classify quartiles
df2['days_on_market_quartile'] = df2['days_on_market'].apply(classify_quartile)

# CLASSIFY LIST PRICE AS QUARTILES

In [35]:
Q1 = df2['list_price'].quantile(0.25)
Q2 = df2['list_price'].quantile(0.50)  # This is the median
Q3 = df2['list_price'].quantile(0.75)

print(f"Q1: {Q1}")
print(f"Q2: {Q2}")
print(f"Q3: {Q3}")

Q1: 400000.0
Q2: 504990.0
Q3: 749000.0

In [36]:
df2['list_price_quartile'] = df2['list_price'].apply(classify_quartile)

# CALCULATE PRICE PER SQFT

In [37]:
df2["pricepersqft"] = df2.list_price/df2.sqft

# CLASSIFY SEASON LISTING WAS POSTED

In [38]:
df2['datetime'] = pd.to_datetime(df2['list_date'])
# Define the function to classify seasons
def get_season(date):
    year = date.year
    seasons = {'Winter': ((pd.Timestamp(f'{year}-12-21'), pd.Timestamp(f'{year+1}-03-19'))),
               'Spring': ((pd.Timestamp(f'{year}-03-20'), pd.Timestamp(f'{year}-06-20'))),
               'Summer': ((pd.Timestamp(f'{year}-06-21'), pd.Timestamp(f'{year}-09-21'))),
               'Fall': ((pd.Timestamp(f'{year}-09-22'), pd.Timestamp(f'{year}-12-20')))}
    
    for season, (start, end) in seasons.items():
        if start <= date <= end:
            return season
    return 'Winter'  # For dates between Dec 21 and Dec 31

In [39]:
# Apply the function to classify seasons
df2['season_listed'] = df2['datetime'].apply(get_season)

# ENCODE CATEGORICAL VARIABLES: LOCATION, SEASON LISTED

In [40]:
encoder = OneHotEncoder(sparse=False)
encoded_cat = encoder.fit_transform(df2[['Location','season_listed']])
encoded_cat_df = pd.DataFrame(encoded_cat, columns=encoder.get_feature_names_out(['Location','season_listed']))

In [41]:
df2 = pd.concat([df2, encoded_cat_df], axis=1)

# EXPORT TO CSV

In [42]:
df1.to_csv('data/Austin_For_Sale_CLEANED.csv', index=False)
df2.to_csv('data/Austin_Sold_CLEANED.csv', index=False)